nav {
    background-color: #a7a3a3;
    color: #fff;
    max-width: 70%;
    display: flex;
    margin: 0% 30%;
    text-align: center;
    justify-content: center;
  }
  
.Navbar__list {
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  
  .Nav li {
    margin-right: 25%;
  }
  
  a {
    text-decoration: none;
    color: #fff;
  }